* {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 99.5vh;
}

h1 {
  border-radius: 10px;
  padding: 10px 60px;
  color: #fff;
  background: crimson;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  background: url(background.jpg);
  background-size: cover;
  box-shadow: 1px 6px 16px 6px rgba(0, 0, 0, 0.3);
}

main #input-box {
  height: 10vh;
  width: 61vw;
  border: none;
  border-radius: 10px 10px 0 0;
  padding: 0 10px;
  font-size: 3rem;
  direction: rtl;
  outline: none;
  overflow: hidden;
}

.keypad {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 16vh 16vh 16vh;
  margin-top: 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  font-size: 2em;
  margin: 4px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  cursor: default;
  box-shadow: 1px 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.key:hover {
  background: rgba(255, 255, 255, 0.4);
}

.key:active {
  box-shadow: none;
}

.clear {
  grid-column: 5/7;
}
.clear:hover {
  background: crimson;
}
.clear:active {
  background: crimson;
}

.equal {
  grid-column: 5/7;
  font-size: 3em;
}
.equal:hover {
  background: limegreen;
}
.equal:active {
  background: limegreen;
}
